// bower:scss
// endbower

@import "_base/utilities";
@import "_base/responsive";
@import "_base/color-palette";
@import "_base/typography";
@import "_base/grid";
@import "_elements/buttons";



@import "_base/reset";

@import "_partials/globals";
@import "_partials/navigation";



$hero-height-large: 666px;
$hero-height-medium: 420px;
$hero-height-small: 300px;


#hero {
  background: url(../images/hero-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
  height: $hero-height-medium;
  // transition: height $standard-transition;
  @include breakpoint-large-or-larger {
    height: $hero-height-large;
  }
  @include breakpoint-medium {
    height: $hero-height-medium;
  }
  @include breakpoint-small {
    height: $hero-height-small;
  }
  .hero-logo {
    // transition: height $standard-transition, width $standard-transition, padding $standard-transition;
    margin: 0 auto;
    width: $hero-height-large;
    height: $hero-height-large;
    text-align: center;
    @include breakpoint-large-or-larger {
      width: $hero-height-large;
      height: $hero-height-large;
      padding: ($hero-height-large - 515px)/2 0;
    }
    @include breakpoint-medium {
      width: $hero-height-medium;
      height: $hero-height-medium;
      padding: ($hero-height-medium - 340px)/2 0;
    }
    @include breakpoint-small {
      width: $hero-height-small;
      height: $hero-height-small;
      padding: ($hero-height-small - 260px)/2 0;
    }
    > img {
      height: 100%;
      width: auto;
    }
  }
  .hero-content {
    @include grid-container;
  }
  .fullbleed-container {
    @include grid-row;
  }
}

#intro-section {
  background: #fff;
  @include breakpoint-large-or-larger {
    margin-top: $hero-height-large;
  }
  @include breakpoint-medium {
    margin-top: $hero-height-medium;
  }
  @include breakpoint-small {
    margin-top: $hero-height-small;
  }
  .intro-section-content {
    @include grid-container;    
  }

  .friends-intro {
    @include grid-row;
  }
  .best-friend {
    @include grid-columns(3,12);
    @include breakpoint-large-or-larger {
      margin: 80px 0 40px 0;
    }
    @include breakpoint-medium {
      margin: 50px 0 15px 0;
    }
    @include breakpoint-small {
      margin: 40px 0 10px 0;
    }
  }
  $best-friend-section-width-xl: 180px;
  $best-friend-section-width-large: 150px;
  $best-friend-section-width-medium: 90px;
  $best-friend-section-width-small: 69px;
  .best-friend-image {
    @include breakpoint-xl {
      width: $best-friend-section-width-xl;
      height: $best-friend-section-width-xl;
    }
    @include breakpoint-large {
      width: $best-friend-section-width-large;
      height: $best-friend-section-width-large;
    } 
    @include breakpoint-medium {
      width: $best-friend-section-width-medium;
      height: $best-friend-section-width-medium;
    }
    @include breakpoint-small {
      width: $best-friend-section-width-small;
      height: $best-friend-section-width-small;
    }
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .general-intro {
    @include grid-row;
    margin-bottom: $vertical-spacer * 10;
  }
  .intro-headline {
    @include grid-columns(12,12);
    padding-top: $vertical-spacer * 6;
    padding-bottom: $vertical-spacer * 4;
    color: $jaxon-green;
    @include headline;
  }
  .intro-sales-copy {
    @include body-copy;
    margin-bottom: 10px;
    @include breakpoint-xl {
      @include grid-columns(6,12);
    }
    @include breakpoint-large {
      @include grid-columns(6,12);
    }
    @include breakpoint-medium {
      @include grid-columns(6,6);
    }
    @include breakpoint-small {
      @include grid-columns(6,6);
    }
  }

  .features-intro {
    height: 420px;
  }
}

#meet-samanda, #meet-rowen, #meet-gus, #meet-jaxon { 
  background: #fff;
}

.meet-friend-divider {
  @include breakpoint-xl {
    height: 240px;
  }
  @include breakpoint-large {
    height: 180px;
    margin-bottom: 10px;
  }
  @include breakpoint-medium-or-smaller {
    height: 134px;
    margin-bottom: 60px;
  }
  #meet-samanda & {
    background: $samanda-purple;
  }
  #meet-rowen & {
    background: $rowen-orange;
  }
  #meet-gus & {
    background: $gus-blue;
  }
  #meet-jaxon & {
    background: $jaxon-green;
  }

  .meet-friend-divider-content {
    @include grid-container;
  }
  .meet-friend-image {
    width: 169px;
    height: 169px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    @include breakpoint-xl {
      margin-left: 5%;
      top: 240px - 169px/2;
    }
    @include breakpoint-large {
      top: 180px - 169px/2;
    }
    @include breakpoint-medium-or-smaller {
      margin: 0 auto;
      top: 134px - 169px/2;
    }
    > img {
      width: 100%;
      height: auto;
    }
  }
}

.meet-friend {
  @include grid-container;
  .meet-friend-content {
    @include grid-row;
    padding-bottom: 50px;
  }
  .meet-friend-copy {
    @include breakpoint-large-or-larger {
      @include grid-columns(9,12,3)
    }
    @include breakpoint-medium-or-smaller {
      @include grid-columns(12,12);
    }
  }
  .meet-friend-headline {
    margin-top: 50px;
    margin-bottom: 20px;
    @include headline;
    @include breakpoint-large-or-larger {
      margin-bottom: 20px;
    }
    @include breakpoint-medium-or-smaller {
      margin-bottom: 10px;
    }
    .hanging-quote {
      @include breakpoint-large-or-larger {
      display: inline-block;
      margin-left: -30px;
      }
    }
    #meet-samanda & {
      color: $samanda-purple;
    }
    #meet-rowen & {
      color: $rowen-orange;
    }
    #meet-gus & {
      color: $gus-blue;
    }
    #meet-jaxon & {
      color: $jaxon-green;
    }
  }
  .meet-friend-details {
    @include body-copy;
  }
  .meet-friend-button {
    @include breakpoint-large-or-larger {
      @include grid-columns(9,12,3);
      padding: 30px 0;
    }
    @include breakpoint-medium-or-smaller {
      @include grid-columns(12,12);
      padding: 20px 0;
    }
    a {
      display: block;
      color: #fff;
      font-size: 24px;
      height: 70px;
      line-height: 70px;
      border-radius: 70px;
      padding: 0 22px;
      box-shadow: 0 0 0 rgba(255,255,255,0);
      width: 377px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      #meet-samanda & {
        background: $samanda-purple;
      }
      #meet-rowen & {
        background: $rowen-orange;
      }
      #meet-gus & {
        background: $gus-blue;
      }
      #meet-jaxon & {
        background: $jaxon-green;
      }
      @include breakpoint-small {
        width: 100%;
        font-size: 21px;
      }
      &:hover {
        box-shadow: inset 0px 0px 0px 44px rgba(255,255,255,0.1);
      }
    }
  }
  .meet-friend-demos {
    clear: both;
    .meet-friend-demo-image {
      @include breakpoint-large-or-larger {
        @include grid-columns(4,12);
        padding: 3%;
      }
      @include breakpoint-medium {
        @include grid-columns(4,12);
      }
      @include breakpoint-small {
        @include grid-columns(4,4);
        margin-top: 15px;
        margin-bottom: 15px;
      }
      height: auto;
    }
  }
}
