$brand-red: #F00;
$brand-black: #000;
$brand-white: #FFF;

$brand-dark-blue: #00008B;

$jaxon-green: #38B464;
$gus-blue: #395EA4;
$rowen-orange: #DC6926; 

$samanda-pink: #EAA8CC;
$samanda-purple: #473A53;