// =============================================
// Breakpoints
// =============================================

$breakpoint-small: 420px;
$breakpoint-medium: 690px;
$breakpoint-large: 911px;

@mixin breakpoint($feature, $value) {
    @media only screen and ($feature: $value) {
        @content;
    }
}


// =============================================
// Easier Responsive Mixins
// =============================================


@mixin breakpoint-small() {
  //420px –– 0px
  @include breakpoint(max-width, $breakpoint-small) {
    @content
  }
}

@mixin breakpoint-medium() {
  //420px –– 690
  @media only screen and (min-width:$breakpoint-small) and (max-width: $breakpoint-medium) {
    @content
  }
}

@mixin breakpoint-large() {
  //666px –– 911px
  @media only screen and (min-width:$breakpoint-medium) and (max-width: $breakpoint-large) {
    @content
  }
}

@mixin breakpoint-xl() {
  //911 –– infinity
  @include breakpoint(min-width, $breakpoint-large) {
    @content
  }
}

@mixin breakpoint-medium-or-smaller() {
  @include breakpoint(max-width, $breakpoint-medium) {
    @content
  }
}

@mixin breakpoint-medium-or-larger() {
  @include breakpoint(min-width, $breakpoint-small) {
    @content
  }
}


@mixin breakpoint-large-or-larger() {
  @include breakpoint(min-width, $breakpoint-medium) {
    @content
  }
}
