@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

$sans-fallback: Helvetica, Arial, sans-serif;

$sans-font: 'Open Sans', $sans-fallback;
$headline-font: 'Open Sans', $sans-fallback;

$vertical-spacer: 5px;
$base-font-size: 16px;


$h1-size: 48px;
$h1-line-height: $vertical-spacer * 10;