<nav id="main-navigation" class="-stuck-to-hero">
  <div class="nav-wrapper">
    <button class="mobile-menu-toggle" type="button" role="button" aria-label="Toggle Navigation">
      <span class="lines"></span>
    </button>
    <div class="nav-links">
      <a class="nav-link -samanda" href="/#meet-samanda">Samanda</a>
      <a class="nav-link -rowen" href="/#meet-rowen">Rowen</a>
      <a class="nav-link -gus" href="/#meet-gus">Gus</a>
      <a class="nav-link -jaxon" href="/#meet-jaxon">Jaxon</a>
      <a class="nav-link -about" href="/#meet-the-team"><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span></a>
      <span class="nav-link -make-friends"><a href="/#make-friends">Make&nbsp;Friends</a></span>
    </div>
  </div>
</nav>