<section id="hero">
  <div class="fullbleed-container">
    <div class="hero-content">
      <div class="hero-logo">
        <img src="images/logo-large.svg">
      </div>
    </div>
  </div>
</section>

<section id="intro-section">
  <div class="intro-section-content">
    <div class="friends-intro">
      <div class="best-friend -samanda">
        <div class="best-friend-image"><a href="/#meet-samanda"><img src="images/samanda.png"></a></div>
      </div>
      <div class="best-friend -rowen">
        <div class="best-friend-image"><a href="/#meet-rowen"><img src="images/rowen.png"></a></div>
      </div>
      <div class="best-friend -gus">
        <div class="best-friend-image"><a href="/#meet-gus"><img src="images/gus.png"></a></div>
      </div>
      <div class="best-friend -jaxon">
        <div class="best-friend-image"><a href="/#meet-jaxon"><img src="images/jaxon.png"></a></div>
      </div>
    </div>
    <div class="general-intro">
      <h2 class="intro-headline">Best friends, redefined.</h2>
      <p class="intro-sales-copy">Minions ipsum aute la bodaaa consequat voluptate. Labore jiji aute veniam nisi exercitation officia. Magna laboris ex jiji tempor.</p>
      <p class="intro-sales-copy">Uuuhhh belloo! Dolore jeje chasy tempor elit exercitation laboris magna. Ex gelatooo ut hahaha poulet tikka masala potatoooo la bananaaaa commodo</p>
    </div>
    <div class="features-intro">
      features intro
    </div>
  </div>
</section>

<section id="meet-samanda">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/samanda.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>I'm Samanda Purse, okay?"</h3>
      <p class="meet-friend-details">Minions ipsum aute la bodaaa consequat voluptate. Labore jiji aute veniam nisi exercitation officia. Magna laboris ex jiji tempor.</p>
      <p class="meet-friend-details">Uuuhhh belloo! Dolore jeje chasy tempor elit exercitation laboris magna. Ex gelatooo ut hahaha poulet tikka masala potatoooo la bananaaaa commodo</p>
      </div>
      <div class="meet-friend-button">
        <a href="">BEFRIEND SAMANDA</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 

<section id="meet-rowen">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/rowen.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>Sup! My name is Rowen."</h3>
      <p class="meet-friend-details">Minions ipsum aute la bodaaa consequat voluptate. Labore jiji aute veniam nisi exercitation officia. Magna laboris ex jiji tempor.</p>
      <p class="meet-friend-details">Uuuhhh belloo! Dolore jeje chasy tempor elit exercitation laboris magna. Ex gelatooo ut hahaha poulet tikka masala potatoooo la bananaaaa commodo</p>
      </div>
      <div class="meet-friend-button">
        <a href="">Befriend Rowen</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 

<section id="meet-gus">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/gus.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>Hello, Gus here.”</h3>
      <p class="meet-friend-details">Minions ipsum aute la bodaaa consequat voluptate. Labore jiji aute veniam nisi exercitation officia. Magna laboris ex jiji tempor.</p>
      <p class="meet-friend-details">Uuuhhh belloo! Dolore jeje chasy tempor elit exercitation laboris magna. Ex gelatooo ut hahaha poulet tikka masala potatoooo la bananaaaa commodo</p>
      </div>
      <div class="meet-friend-button">
        <a href="">Befriend Gus</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 

<section id="meet-jaxon">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/jaxon.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>I AM JAXON, A LIZARD.”</h3>
      <p class="meet-friend-details">Minions ipsum aute la bodaaa consequat voluptate. Labore jiji aute veniam nisi exercitation officia. Magna laboris ex jiji tempor.</p>
      <p class="meet-friend-details">Uuuhhh belloo! Dolore jeje chasy tempor elit exercitation laboris magna. Ex gelatooo ut hahaha poulet tikka masala potatoooo la bananaaaa commodo</p>
      </div>
      <div class="meet-friend-button">
        <a href="">Befriend Jaxon</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 