<section id="hero">
  <div class="fullbleed-container">
    <div class="hero-content">
      <div class="hero-logo">
        <img src="images/logo-large.svg">
      </div>
    </div>
  </div>
</section>

<section id="intro-section">
  <div class="intro-section-content">
    <div class="general-intro">
      <h2 class="intro-headline">Best friends, redefined.</h2>
      <p class="intro-sales-copy">Minions ipsum aute la bodaaa consequat voluptate. Labore jiji aute veniam nisi exercitation officia. Magna laboris ex jiji tempor.</p>
      <p class="intro-sales-copy">Uuuhhh belloo! Dolore jeje chasy tempor elit exercitation laboris magna. Ex gelatooo ut hahaha poulet tikka masala potatoooo la bananaaaa commodo</p>
    </div>
    <div class="friends-intro">
      <div class="best-friend -rowen">
        <div class="best-friend-image"><img src="http://www.minionsipsum.com/img/minion-roman.png"></div>
        <h3 class="best-friend-name">Rowen</h3>
        <p class="best-friend-blurb">Rowen is a cool dude that does stuff. He likes things and will be your friend.</p>
        <a class="best-friend-button">Meet Rowen</a>
      </div>
      <div class="best-friend -samanda">
        <div class="best-friend-image"><img src="http://www.minionsipsum.com/img/minion-roman.png"></div>
        <h3 class="best-friend-name">Samanda</h3>
        <p class="best-friend-blurb">Samanda is a cool chick that does stuff. She likes things and will be your friend.</p>
        <a class="best-friend-button">Meet Samanda</a>
      </div>
      <div class="best-friend -gus">
        <div class="best-friend-image"><img src="http://www.minionsipsum.com/img/minion-roman.png"></div>
        <h3 class="best-friend-name">Gus</h3>
        <p class="best-friend-blurb">Gus is a cool dude that does stuff. He likes things and will be your friend.</p>
        <a class="best-friend-button">Meet Gus</a>
      </div>
      <div class="best-friend -jaxon">
        <div class="best-friend-image"><img src="http://www.minionsipsum.com/img/minion-roman.png"></div>
        <h3 class="best-friend-name">JAXON</h3>
        <p class="best-friend-blurb">Coming soon: a friendly lizard man that doesn't want to eat you at all.</p>
        <a class="best-friend-button">Meet JAXON</a>
      </div>
    </div>
  </div>
</section>

<section class="meet-samanda">
  <h3 class="meet-friend-divider-content">Samanda</h3>
</section> 
  <div class="meet-friend-hero -rowen"></div>
  <div class="meet-friend-content -rowen">
    
  </div>
</section>