<section id="hero">
  <div class="fullbleed-container">
    <div class="hero-content">
      <div class="hero-logo">
        <img src="images/logo-large.svg">
      </div>
    </div>
  </div>
</section>

<section id="intro-section">
  <div class="intro-section-content">
    <div class="friends-intro">
      <div class="best-friend -samanda">
        <div class="best-friend-image"><a href="/#meet-samanda"><img src="images/samanda.png"></a></div>
      </div>
      <div class="best-friend -rowen">
        <div class="best-friend-image"><a href="/#meet-rowen"><img src="images/rowen.png"></a></div>
      </div>
      <div class="best-friend -gus">
        <div class="best-friend-image"><a href="/#meet-gus"><img src="images/gus.png"></a></div>
      </div>
      <div class="best-friend -jaxon">
        <div class="best-friend-image"><a href="/#meet-jaxon"><img src="images/jaxon.png"></a></div>
      </div>
    </div>
    <div class="general-intro">
      <h2 class="intro-headline">Best friends, redefined.</h2>
      <p class="intro-sales-copy">Best Friends Online is a revolutionary new Friends-As-A-Service (FAAS) platform. These highly advanced pals have custom personalities tailored to your interests.</p><p class="intro-sales-copy">Each friend can interact with you on twitter, join your teams on Slack, and use a custom Chrome extension to watch and remark on your browsing habits.</p>
    </div>
    {{!-- <div class="testimonials">
      <div class="testimonial -1">
        <div class="testimonial-copy">"Why would I want friends? ever."</div>
        <div class="testimonial-name">— <a href="https://twitter.com/danielzarick">Daniel Zarick</a></div>
      </div>
    </div> --}}
    <div class="features-intro">
      <div class="featured-block"><p>Never Featured In:</p></div>
      <div class="featured-block"><img src="images/featured-1.png" alt=""></div>
      <div class="featured-block"><img src="images/featured-2.png" alt=""></div>
      <div class="featured-block"><img src="images/featured-3.png" alt=""></div>
      <div class="featured-block"><img src="images/featured-4.png" alt=""></div>
      <div class="featured-block"><img src="images/featured-5.png" alt=""></div>
    </div>
  </div>
</section>

<section id="meet-samanda">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/samanda.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>I'm Samanda Purse, okay?"</h3>
      <p class="meet-friend-details">A good friend for someone with an open mind, Samanda Purse is a 16 year old woman who lives in Claymont, Delaware.</p> <p class="meet-friend-details">Samanda is known for her unique point of view and strong personality. She enjoys history, celebrity news and exposing the truths that the Secret World Government is hiding from us all. She works at the mall.</p>
      </div>
      <div class="meet-friend-button">
        <a href="">BEFRIEND SAMANDA</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 

<section id="meet-rowen">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/rowen.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>Sup! My name is Rowen."</h3>
      <p class="meet-friend-details">Need a laid-back pal? Look no further than Rowen Tufty, a 26 year old from Tinley Park, Illinois.</p><p class="meet-friend-details">Rowen works in a warehouse two days a week, but when he's not "at the 'house," he enjoys comedy, humor and sticky weed. His favorite movie is Pineapple Express and his favorite shoes are Crocs.</p>
      </div>
      <div class="meet-friend-button">
        <a href="">Befriend Rowen</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 

<section id="meet-gus">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/gus.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>Hello, Gus here.”</h3>
      <p class="meet-friend-details">A good friend for people who miss the old days (before computers and equality), Gus W. is a 69 year old man residing in Hammond, Indiana.</p><p class="meet-friend-details"> Gus is known for his unique brand of wisdom and fondness for soup. He enjoys politics, sports and the internet.</p>
      </div>
      <div class="meet-friend-button">
        <a href="">Befriend Gus</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 

<section id="meet-jaxon">
  <div class="meet-friend-divider">
    <div class="meet-friend-divider-content">
      <div class="meet-friend-image">
        <img src="images/jaxon.png">
      </div>
    </div>
  </div>
  <div class="meet-friend">
    <div class="meet-friend-content">
      <div class="meet-friend-copy">
      <h3 class="meet-friend-headline"><span class="hanging-quote">"</span>I AM JAXON, A LIZARD.”</h3>
      <p class="meet-friend-details">A good friend for people who miss the really old days (before mammals and that dang asteroid), JAXON is an intelligent lizard from the Cretaceous period.</p><p class="meet-friend-details">Jaxon is a total sweetheart that's still getting used to the modern world, but he's already pretty good at the internet, thanks to his job as a clerk in the Secret World Government.</p>
      </div>
      <div class="meet-friend-button -disabled">
        <a href="">COMING SOON</a>
      </div>
      <div class="meet-friend-demos">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
        <img src="images/minion.jpg" alt="" class="meet-friend-demo-image">
      </div>
    </div>

  </div>
</section> 

<section id="meet-the-team">
  <div class="meet-the-team-content">
    <div class="the-team">
      <h3 class="meet-the-team-headline">Best Friends Offline</h3>
      <div class="meet-the-team-copy">
        <p class="team-inner-copy">A brilliant, sexy, interesting and highly talented team made this during the first ever Comedy Hack Day Chicago. They spent an entire weekend making these internet pals for you to play with, and accidentally became pals themselves.</p> 
      </div>
      <div class="meet-the-team-copy">
        <p class="team-inner-copy">You know, like the Breakfast Club if they all had MacBooks. Also if they weren't high school students and were there voluntarily? So not really like the Breakfast Club at all. Anyway, we made this thing for you. Please enjoy it.</p>
      </div>
      <div class="meet-the-team-images">
        <a class="team-person" href="/#meet-the-team">
          <div class="team-person-photo"><img src="images/savannah.png"></div>
          <p class="team-person-name">Savannah</p>
        </a>
        <a class="team-person" href="/#meet-the-team">
          <div class="team-person-photo"><img src="images/savannah.png"></div>
          <p class="team-person-name">Savannah</p>
        </a>
        <a class="team-person" href="/#meet-the-team">
          <div class="team-person-photo"><img src="images/savannah.png"></div>
          <p class="team-person-name">Savannah</p>
        </a>
        <a class="team-person" href="/#meet-the-team">
          <div class="team-person-photo"><img src="images/savannah.png"></div>
          <p class="team-person-name">Savannah</p>
        </a>
        <a class="team-person" href="/#meet-the-team">
          <div class="team-person-photo"><img src="images/savannah.png"></div>
          <p class="team-person-name">Savannah</p>
        </a>
        <a class="team-person" href="/#meet-the-team">
          <div class="team-person-photo"><img src="images/savannah.png"></div>
          <p class="team-person-name">Savannah</p>
        </a>
      </div>
    </div>
  </div>
</section>